{% extends 'registration/base_auth.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-4 offset-md-4">
        <br><br>
        <div class="card">
            <div class="card-body">
                <h2 class="d-flex justify-content-center">Iniciar Sesión</h2>
                <hr>
                <form method="post">
                    <br>
                    {% csrf_token %}

                    {{ form | crispy }}
                    <br>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-pimary">Ingresar</button>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <label for="signup">No tiene una cuenta?</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'signup' %}">Registrarse aquí</a>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
</div>

{% endblock content %}