{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% if object.es_publico %}
        <!-- ##### Single Blog Area Start ##### -->
        <div class="single-blog-wrapper section-padding-0-100">

            <!-- Single Blog Area  -->
            <div class="single-blog-area blog-style-2 mb-50">
                <div class="single-blog-thumbnail">
                    <img src="{{ object.imagen.url }}" alt="imagen_{{ object.titulo }}">
                    <div class="post-tag-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="post-date">
                                        <a href="#">{{ object.fecha_hora_publ|date:'d' }} <span>{{ object.fecha_hora_publ|date:'b' }}</span><span>{{ object.fecha_hora_publ|date:'Y' }}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <!-- ##### Post Content Area ##### -->
                    <div class="col-12 col-lg-9">
                        <!-- Single Blog Area  -->
                        <div class="single-blog-area blog-style-2 mb-50">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="line"></div>
                                <a href="#" class="post-tag">{{ object.categoria }}</a>
                                <h4><a href="{% url 'detail' object.pk %}" class="post-headline">{{ object.titulo }}</a></h4>
                                <h6>{{ object.sub_titulo }}</h6>
                                <div class="post-meta mb-50">
                                    <p>Autor: <a href="#usuario">{{ object.usuario.first_name }} {{ object.usuario.last_name }}</a></p>
                                    <br>
                                    <p>{{ object.get_comment_count }} comentarios</p>
                                    <br>
                                    <p>Publicado hace: {{ object.fecha_hora_publ|timesince }}</p>
                                </div>
                                <p style="text-align: justify;">{{ object.contenido }}</p>
                            </div>
                        </div>

                        <!-- About Author -->
                        <div class="blog-post-author mt-100 d-flex">
                            <div class="author-thumbnail">
                                <img src="{{ object.usuario.imagen.url }}" alt="">
                            </div>
                            <div class="author-info">
                                <div class="line"></div>
                                <span class="author-role">Autor</span>
                                <h4><a href="#" class="author-name">{{ object.usuario.first_name }} {{ object.usuario.last_name }}</a></h4>
                                <p style="text-align: justify;">{{ object.usuario.biografia }}</p>
                            </div>
                        </div>

                        <!-- Comment Area Start -->
                        {% if user.is_authenticated %}
                            <style>
                                #btnComentar{
                                    background-color: #007bff;
                                }
                            </style>
                            <div class="post-a-comment-area mt-70">
                                <h5>Deja un comentario</h5>
                                <!-- Reply Form -->
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form | crispy }}
                                    <div class="col-12">
                                        <button id="btnComentar" type="submit" class="btn btn-primary">Comentar</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        <div class="comment_area clearfix mt-70">
                            <h5 class="title">Comentarios</h5>
                            <ol>
                                {% for comentario in object.comentarios %}
                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src= "{{ comentario.usuario.imagen.url }}" alt="{{comentario.usuario.username}}">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-date">{{ comentario.fecha_hora_coment }}</a>
                                                <p><a href="#user_profile" class="post-author">{{ comentario.usuario.username }}</a></p>
                                                <p><a href="#user_profile" class="post-author">{{ comentario.usuario.first_name }} {{ comentario.usuario.last_name }}</a></p>
                                                <p><strong>{{ comentario.titulo }}<strong/></p>
                                                <p>{{ comentario.contenido }}</p>
                                                <hr>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Single Blog Area End ##### -->
    {% else %}
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <br><br>
            <div class="card">
                <div class="card-body">
                    <h2 class="d-flex justify-content-center">Este post es privado</h2>
                    <hr>
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'list' %}">Volver</a>
                    </div>
                    <br>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>
    {% endif %}
{% endblock content %}

